<img class="foto" src="<%=foto_autor%>" alt="Foto Autor" width="140" height="140">
<p class="autor_nombre"><%=nombre_autor%></p>
<div class="video">
	<video width="70%" height="200px" controls>
	  <source src="<%=video_autor%>" type="video/mp4">
	Your browser does not support the video tag.
	</video>
</div>	