body {
	background: #999; 
}

#page-wrap:after {
	content: "Wide Layout";
}

nav { 
	float: left;
	width: 15%;
	height: 200px;
}

nav span {
	margin: 0px 100px 0px 0px;
}

section {
	float: right;
	width: 80%;
	height: 200px;
}

section .foto {

	float: left;
}

section .autor_nombre {
	clear: both;
	float: left;
}

section .video {
	padding-top: 0px;
	padding-bottom: 60px;
	position: absolute;
	margin-left: 80px;
}

footer {
	clear: both;
	display: block;
}